<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/email.css') }}">
</head>
<body>
    <div class=valid_alert>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p class=valid_message>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <table>
        <tr>
            <th>Email Addresses Entered:</th>
            <th>Created On:</th>
        </tr>
        {% for email in all_emails %}
        <tr>
            <td>{{email.email}}</td>
            <td>{{email.created_at}}</td>
            <td><a href = '/delete/{{email.id}}'>Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <a href = '/'>Home</a>
    </div>
</body>
</html>