* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.flexbox {
    height: 30%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.invalid_alert {
    height: 30%;
    width: 100%;
}
.invalid_message {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.valid_alert {
    height: 10%;
    width: 30%;
}
.valid_message {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}
table {
    border-collapse: collapse;
}
tr, th, td {
    border: 2px solid black;
}